nodered/flows/flow1.json
[{"id":"e547f406.9b26f","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8777ac3.9473f5","type":"http in","z":"e547f406.9b26f","name":"chatbot","url":"/chatbot","method":"post","upload":false,"swaggerDoc":"","x":280,"y":260,"wires":[["3e029dec.7022fa"]]},{"id":"3e029dec.7022fa","type":"json","z":"e547f406.9b26f","name":"","property":"payload","action":"","pretty":false,"x":430,"y":260,"wires":[["42599fcb.06b0c8","e3241bfc.ed379"]]},{"id":"42599fcb.06b0c8","type":"http response","z":"e547f406.9b26f","name":"Response","statusCode":"","headers":{},"x":580,"y":260,"wires":[]},{"id":"e3241bfc.ed379","type":"debug","z":"e547f406.9b26f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":602.5,"y":324,"wires":[]}]